<%- include("includes/header"); %>

<div class="container">

    <h3>Editar Contato</h3>
    <hr>

    <form method="POST" action="/agendas/update">
      <input type="hidden" name="id" value="<%= agendas.id %>">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" aria-describedby="emailHelp" value="<%= agendas.nome %>">
      </div>
      <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input type="text" class="form-control" id="celular" name="celular" aria-describedby="emailHelp" value="<%= agendas.celular %>">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="<%= agendas.email %>">
      </div>
      <div class="mb-3">
        <label for="rua" class="form-label">Rua</label>
        <input type="text" class="form-control" id="rua" name="rua" aria-describedby="emailHelp" value="<%= agendas.rua %>">
      </div>
      <div class="mb-3">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" id="numero" name="numero" aria-describedby="emailHelp" value="<%= agendas.numero %>">
      </div>
      <div class="mb-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro" aria-describedby="emailHelp" value="<%= agendas.bairro %>">
      </div>
      <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" aria-describedby="emailHelp" value="<%= agendas.cidade %>">
      </div>
      <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado" aria-describedby="emailHelp" value="<%= agendas.estado %>">
      </div>
      <div class="mb-3">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep" name="cep" aria-describedby="emailHelp" value="<%= agendas.cep %>">
      </div>
      <div class="mb-3">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento" aria-describedby="emailHelp" value="<%= agendas.complemento %>">
      </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/agendas" class="btn btn-secondary">Cancelar</a>
      </form>
    
</div>

<%- include("includes/footer"); %>